/* Hero */
.hero {
    width: 100%;
    background-color: var(--ll-green);
    padding: 23px 15px 0;
    grid-area: main;
  }

  .hero-inner {
    width: 100%;
    max-width: var(--main-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hero-inner section, .hero-inner aside {
    width: 100%;
    margin-bottom: 40px;
  }

  .hero-image {
    width: 350px;
    height: 446px;
    border-radius: 16px;
  }

  .hero-header {
    font-size: var(--large-header-size);
    color: var(--ll-yellow);
    margin-bottom: 0;
  }

  .hero-city {
    color: var(--white);
    font-size: var(--medium-header-size);
    margin-top: 10px;
    display: inline-block;
  }

  .hero-subtitle {
    color: var(--white);
    width: 90%;
  }

  .hero-btn {
    padding: 19px 24px;
    display: inline-block;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    .hero-inner section, .hero-inner aside {
      width: 50%;
    }

    .hero {
      height: 400px;
    }

    .hero-subtitle {
      color: var(--white);
      width: 260px;
    }
  }
